body, h1, h2, h3, form, input, textarea, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select,
button {
    width: calc(100% - 22px); /* Adjusting for input padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #6ea6ff; /* Light blue */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4b8df8; /* Lighter shade of blue on hover */
}

#error-message {
    color: red;
    margin-top: 5px;
}

/* Customization section styles */
#burgerCustomization,
#subCustomization {
    margin-top: 20px;
}

#burgerCustomization,
#subCustomization,
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#order:checked + #burgerCustomization,
#order:checked + #subCustomization,
#order:valid + #burgerCustomization,
#order:valid + #subCustomization {
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff; /* Ensure dropdown is visible */
}
