body, h1, h2, h3, h4, p, ul, li, form, input, textarea, button, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #FF5733;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select,
button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #6ea6ff;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4b8df8;
}

#error-message {
    color: red;
    margin-top: 5px;
}

#burgerCustomization,
#subCustomization {
    margin-top: 20px;
}

#burgerCustomization,
#subCustomization,
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#order:checked + #burgerCustomization,
#order:checked + #subCustomization,
#order:valid + #burgerCustomization,
#order:valid + #subCustomization {
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

.radio-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.radio-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #bfbfbf;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #FF5733;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

.radio-container .radio-checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
